@font-face {
  font-family: Alibaba-PuHuiTi-2;
  src: url('./AlibabaPuHuiTi-2-65-Medium.ttf') format('truetype');
}
@font-face {
  font-family: YouSheBiaoTiHei;
  src: url('./YouSheBiaoTiHei.ttf') format('truetype');
}
@font-face {
  font-family: num;
  src: url('./DS-DIGI.ttf') format('truetype');
}
@font-face {
  font-family: Alibaba-PuHuiTi-Bold;
  src: url('./Alibaba-PuHuiTi-bold.ttf') format('truetype');
}
@font-face {
  font-family: Alibaba-PuHuiTi-Light;
  src: url('./Alibaba-PuHuiTi-Light.ttf') format('truetype');
}
@font-face {
  font-family: Alibaba-PuHuiTi-Heavy;
  src: url('./Alibaba-PuHuiTi-Heavy.ttf') format('truetype');
}
@font-face {
  font-family: Alibaba-PuHuiTi-Medium;
  src: url('./Alibaba-PuHuiTi-Medium.ttf') format('truetype');
}
@font-face {
  font-family: Alibaba-PuHuiTi-Regular;
  src: url('./Alibaba-PuHuiTi-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Alimama-ShuHeiTi;
  src: url('./AlimamaShuHeiTi.otf') format('truetype');
}
@font-face {
  font-family: Helvetica;
  src: url('./Helvetica.ttc') format('truetype');
}
@font-face {
  font-family: Helvetica-Bold;
  src: url('./Helvetica-Bold.ttf') format('truetype');
}
@font-face {
  font-family: OPPOSans-Heavy;
  src: url('./OPPOSans-Heavy.ttf') format('truetype');
}
